.metadata

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/0.snap

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2018/2/7/refactorings.history

.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2018/2/7/refactorings.index

.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.recommenders/caches/manual-mappings.json
.recommenders/caches/identified-project-coordinates.json
